{{#if model.immature}}
<h4>Immature Blocks</h4>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th style="color:black">Height</th>
      <th style="color:black">Block Hash</th>
      <th style="color:black">Time Found</th>
      <th style="color:black">Variance</th>
      <th style="color:black">Reward</th>
      <th style="color:black">Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.immature as |block|}}
      {{partial "blocks/block"}}
    {{/each}}
  </tbody>
</table>

{{else}}
<h3>No immature blocks yet</h3>
{{/if}}

