{{#if model.matured}}
<h4>Matured Blocks</h4>
<div class="table table-responsive">
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th style="color:black">Height</th>
      <th style="color:black">Block Hash</th>
      <th style="color:black">Time Found</th>
      <th style="color:black">Variance</th>
      <th style="color:black">Reward</th>
      <th style="color:black">Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.matured as |block|}}
      {{partial "blocks/block"}}
    {{/each}}
  </tbody>
</table>
</div>
{{else}}
<h3>No matured blocks yet</h3>
{{/if}}

