<div class="table table-responsive">
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th style="color:black">Blocks</th>
      <th style="color:black">Average Variance</th>
      <th style="color:black">Uncle Rate</th>
      <th style="color:black"y
>Orphan Rate</th>
    </tr>
  </thead>
  <tbody>
  {{#each-in model.luck as |total row|}}
  <tr>
    <td style="color:black">{{total}}</td>
    <td style="color:black">{{format-number row.luck style='percent'}}</td>
    <td style="color:black">{{format-number row.uncleRate style='percent'}}</td>
    <td style="color:black">{{format-number row.orphanRate style='percent'}}</td>
  </tr>
  {{/each-in}}
  </tbody>
</table>
</div>
